button{
    background-color: rgb(212, 44, 41);
    color: rgb(0, 0, 0);
    padding: 15px 32px ;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    margin: 40vh 100vh ;
    border-radius: 1rem;
    transition: background-color 0.3s
}
button:hover{
    background-color: rgb(42, 165, 61);
}
@media (max-width: 600px) {
    button {
        padding: 0.8rem 1.6rem; /* Adjust padding for smaller screens */
        font-size: 1rem; /* Adjust font size for smaller screens */
        margin: 10vh auto; /* Adjust vertical margin for smaller screens */
    }
}